@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Poppins&display=swap');
/* WhatsApp Image 2022-08-08 at 5.20 1 */
* {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

nav {
    background: #ffffff;
}

section:target {   
    scroll-margin-top: 40px;
}

textarea {
    height: 14rem !important;
    resize: none !important;
    padding-top: 2rem !important;
}

input {
    height: 4rem !important;
}

@media only screen and (max-width: 1280px) and (min-width: 376px) {
    .wrapper {
        margin: 0 6rem !important;
    }

    .wrapper2 {
        margin: 0 3.75rem !important;
    }

    .wrapper-left {
        margin-left: 3rem !important;
    }

    .wrapper-right {
        margin-right: 3rem !important;
    }
    .gp {
        display: none !important;
    }
    .full-gp {
        display: block !important;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
    .wrapper {
        margin: 0 12rem !important;
    }

    .wrapper2 {
        margin: 0 7.5rem !important;
    }

    .wrapper-left {
        margin-left: 6rem !important;
    }

    .wrapper-right {
        margin-right: 6rem !important;
    }
    .gp {
        display: none !important;
    }
    .full-gp {
        display: block !important;
    }
}

@media only screen and (min-width: 1441px) {
    .wrapper {
        margin: 0 16rem !important;
    }

    .wrapper2 {
        margin: 0 10rem !important;
    }

    .wrapper-left {
        margin-left: 8rem !important;
    }

    .wrapper-right {
        margin-right: 8rem !important;
    }
    .gp {
        display: none !important;
    }
    .full-gp {
        display: block !important;
    }
}

@media only screen and (max-width: 375px) {
    #home {
        padding: 1rem 0 !important;
    }
    .nav {
        display: none !important;
    }
    .gp {
        display: block !important;
    }
    .full-gp {
        display: none !important;
    }
    .logo {
        margin-right:auto !important;
        margin-left:auto !important;
    }
    .mobile-profile {
        display: block !important;
        margin-top: 3rem;
    }
    .profile {
        display: none !important;
    }
    body {
        text-align: center !important;
        justify-content: center !important;
    }
    .hero-header {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px !important;
        line-height: 40px !important;
        width: 100% !important;
        display: block !important;
    }
    .wrapper {
        margin: 0 2rem !important;
    }

    .wrapper2 {
        margin: 0 1rem !important;
    }
    #home .hero-btn {
        display: none;
    }

}

#home {
    padding: 10rem 0;
}

.logo:hover {
    text-decoration: none !important;
    border: none !important;
}

.left {
    text-align: start !important;
    margin-left: 0 !important;
    margin-right: auto !important;
}

.centre {
    margin-right:auto !important;
    margin-left:auto !important;
    text-align: center !important;
}


.nav-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    /* identical to box height, or 159% */
    display: flex;
    align-items: center;

    /* Black */
    color: #2D2D2D;
}

.nav-item a:hover,  .nav-item a:active, .active, a:hover {
    border-bottom: 2px solid black !important;
    color: #000000 !important;
}

.blue-section {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 3rem 0;
    gap: 56px;

    position: relative;

    background: #F9F9FF;

}

.landing-section .col-5 {
    align-self: center!important;
    justify-content: center !important;
}

.profile {
    display: flex;
    justify-content: flex-end !important;
}

.mobile-profile {
    display: none;
}

.hero-header {
    /* Designing well thought-out digital products */

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    display: flex;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;

    /* Black */
    color: #2D2D2D;
}

.hero-em {
    color: #6567C3;
}

.hero-text {
    margin-top: 3rem;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    /* Black */
    color: #2D2D2D;
}

.hero-btn {
    /* Black */
    background: #2D2D2D;
    margin-top: 3rem;
    border: none !important;
    padding: 18px 48px !important;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;

    /* White */
    color: #FFFFFF;

}

.hero-btn2 {
    /* Black */
    background: #2D2D2D;
    margin-top: 3rem;
    border: none !important;
    padding: 24px 26px !important;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;

    /* White */
    color: #FFFFFF;

}

.white-section {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 3rem 0;
    gap: 56px;

    position: relative;
    height: auto;

    background: #FFFFFF;

}

.section-header {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */
    text-align: center;

    /* Black */
    color: #2D2D2D;

}

.mycard-overlay {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 0px;
    gap: 9px;

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);

}

.hero-cards .row {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 4rem !important;
}

.hero-card {
    position: relative;
    text-align: center;
    margin-right: 1rem;
}

.hero-card img {
    width: 330px;
    height: 330px;
    transition: transform .5s ease;
}

.mycard-header {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1C0A04;
}

.mycard-subheader {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1C0A04;
}

.hero-card:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.mycard-body {
    text-align: start !important;
    margin-left: .4rem;
}

.mycard-header2 {
    text-align: start !important;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    margin-top: 1rem;

    /* Black */
    color: #2D2D2D;
}

.mycard-text {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    /* Black */
    color: #2D2D2D;

}

.hero-content-header {
    /* Intro */

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    /* Black */
    color: #2D2D2D;
    margin-top: 2rem;
}

.hero-content {
    margin-top: .4rem;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #141414;
}

.bg-white {
    background: #FFFFFF !important;
}

.roundedBtn {
	box-sizing: border-box;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 25px;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    display: flex;
    align-items: center;

    color: #000000;

	text-align: center;
	letter-spacing: 0.1em;
    padding: .4rem .8rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.roundedBtn img {
    margin-right: .5rem;
    height: 16px;
}

#about .bg-white {
    padding-bottom: 2rem !important;
}

#about .row {
    flex-wrap: nowrap !important;
}

.tools {
    margin-top: .6rem !important;
    flex-wrap: wrap !important;
}

#about .right {
    margin-left: 2rem;
}

.form-control {
    margin-bottom: 1rem;
    border: none !important;
    border-radius: 0 !important;
    padding-left: 2rem !important;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px !important;
    line-height: 27px;

    color: #2D2D2D !important;
    
    background: #F3F3F3 !important;
}

.connect .left {
    padding-right: 6rem;
}

.assoc-links {
    margin-top: 2rem;
}

.assoc-links a:hover {
    border: none !important; 
}

.connect {
    margin-bottom: 6rem !important;
}